/* Mullvad specific styles */
#custom-mullvad.connected {
    color: @green;
}

#custom-mullvad.disconnected {
    color: @red;
}

#custom-mullvad {
    margin: 0 8px;
    padding: 0 5px;
    min-width: 100px;
}
